# -------------------------
# GIT
# -------------------------
.git
.gitignore

# -------------------------
# NODE
# -------------------------
node_modules
npm-debug.log

# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# VERY IMPORTANT (YOUR PROBLEM)
# -------------------------
ml/venv

# -------------------------
# SYSTEM FILES
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# ENV FILES
# -------------------------
.env

# -------------------------
# BUILD / CACHE
# -------------------------
dist
build
.cache